<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<section name="form">
    <br>
    <form id="form" method="POST" action="/user/registered" style="margin-left: 5%">

        <div class="form-group" style="width: 500px;">
            {% csrf_token %}
            {{ form }}
            <br>

        </div>
    </form>

    <button id="btnn" style="margin-left: 5%" type="button" class="btn btn-primary btn-lg" disabled>Submit</button>
    <br><br>
    <div style="margin-left: 65px">
        <p>Sudah Punya Akun ?</p>
        <a href="login">Klik Untuk Login atau Login Dengan Google</a><br><br>
    </div>
</section>

</body>
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var email_is_valid = false;
    $(document).ready(function () {

        $('#btnn').click(function () {

            var csrf_token = $("[name=csrfmiddlewaretoken]").val();


            var input = {
                username: $('#id_username').val(),
                email: $('#id_email').val(),
                password: $('#id_password').val()
            };
            $.ajax({
                type: "POST",
                url: "/lab10/registered",
                data: input,
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
                headers: {
                    "X-CSRToken": csrf_token
                },
                success: function (data) {
                    alert("success")
                },
                error: function (data) {
                    alert("error")
                }
            })
        });

        // username checker
        $('#id_username').change(function () {
            valid_checker()
        });

        $('#id_password').change(function () {
            valid_checker()
        });

        // email checker
        $('#id_email').change(
            function () {
                e_mail = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/lab10/validation",
                    data: {
                        'email': e_mail
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.is_taken) {
                            alert("sudah ada dengan email yang sama")
                            valid_checker()
                        } else {
                            email_is_valid = true;
                            valid_checker()
                        }
                    }
                })
            }
        )
    })

    function valid_checker() {
        var panjangNama = $('#id_username').val().length;
        var panjangPassword = $('#id_password').val().length;
        if (email_is_valid && panjangNama > 0 && panjangPassword > 0) {
            $('#btnn').removeAttr('disabled').addClass('active');
        } else {
            $('#btnn').attr('disabled', 'false');
        }
    }
</script>
</html>