<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    {{ form_login.as_p }}
    <input type="submit" alt="login">
</form>

<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br><br>
<a href="/user">Tidak Punya Akun ? Klik Untuk Register</a>

</body>
</html>