<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>

<h2>
    Hello : {{ user.username }} !
</h2>
<p>

    {% if user.is_authenticated %}
        <p class="display-4">Hello, {{ user.username }}</p>
        <p><a href="/user/logout">logout</a></p>
    {% else %}
        <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}

{#    {% if user.is_authenticated %}#}
{#    {% else %}#}
{#        <p>You are not logged in</p>#}
{#        <a href="/lab10/login">login</a>#}
{#    {% endif %}#}
</p>

</body>
</html>