<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        body {
            background-color: azure;
            margin-left: 550px;
        }

        h4 {
            font-family: "Comic Sans MS";
        }

        form {
            width: 500px;
        }
    </style>
</head>
<body>

<h1>Halo, apa kabar ?</h1>

<section>
    <a href="/ppwinaja/profile">!!! Klik untuk melihat PROFILE lab pertama kali sesuai STORY 8 !!!</a><br><br>
    <a href="/ppwinaja/books">*** Klik untuk melihat DAFTAR BUKU FAVORIT sesuai STORY 9 ***</a>
    <br><br>
    <h2>{{ datetime|date:"F Y" }}</h2>
    <form id="form" method="POST" action="/ppwinaja/addform">
        {% csrf_token %}
        {{ form }}
        <br><br>
        <button type="submit">Submit</button>
    </form>

    {% for item in get_all_status %}
        <ul>
            <li>
                <h4>{{ item.status }}</h4>
                time : {{ item.time }}
            </li>
        </ul>
    {% endfor %}
</section>

</body>
</html>